<footer class="text-center text-lg-start text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <h5 class="text-uppercase mb-0">Explore</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.apple.com/tn/mac/">Mac</a>
          </li>
          <li>
            <a href="https://www.apple.com/tn/iphone/">iPhone</a>
          </li>
          <li>
            <a href="https://www.apple.com/tn/ipad/">iPad</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Account</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://appleid.apple.com/tn/">Manage you Apple ID</a>
          </li>
          <li>
            <a href="https://www.icloud.com/">iCloud.com</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Apple values</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.apple.com/legal/privacy/fr-ww/">confidentiality</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">About Apple</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.apple.com/tn/newsroom/">Newroom</a>
          </li>
          <li>
            <a href="https://www.apple.com/leadership/">Apple Leadership</a>
          </li>
          <li>
            <a href="https://www.apple.com/careers/us/">Career Opportunities</a>
          </li>
          <li>
            <a href="https://investor.apple.com/investor-relations/default.aspx">Investors</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
    <div class="text-center last p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a href="https://www.apple.com/tn/">apple.com/tn/</a>
    </div>
  </div>
</footer>
